body{
    background-color: aquamarine;
}
#index{
    font-family: 楷体, serif;
    font-size: 60px;
    color: #e84521;
    text-align: center;
}
img{
    width: 60%px;
    height: 400px;
    margin-left: 30%;
}
#content{
    width: 700px;
    height: 900px;
}
p{
    font-size: 36px;
}
a{
    font-size: 24px;
}